.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  width: 170vh;
  height: 3rem;
  margin-bottom: 30px;
  background-color: white;
  margin-left: 30px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 15px 0px ;
}

.nav-list ul {
  display: flex;
  list-style-type: none;
}
.nav-list li {
  margin-left: 20px;
}
.nav-list li:hover {
  cursor: pointer;
}
.nav-right > input {
  margin-top: 5px;
}
.nav-right > input {
  margin-right: 100px;
  border-radius: 5px;
  border: 1px solid crimson;
  padding: 5px;
}
